@model mezuniyetcim.com.Entities.tblVizyon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_panel.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tblVizyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vizyonTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vizyonTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vizyonDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vizyonDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.vizyonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
