@model IEnumerable<mezuniyetcim.com.Entities.tblVizyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_panel.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vizyonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vizyonDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vizyonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vizyonDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.vizyonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.vizyonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.vizyonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
