@model mezuniyetcim.com.Entities.tblAddress

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Adres Detayları</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-12">
            Şehir
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Sehir)
        </dd>
        <dt class = "col-sm-12">
            İlçe
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.İlce)
        </dd>
        <dt class = "col-sm-12">
            Mahalle
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Mahalle)
        </dd>
        <dt class = "col-sm-12">
            Cadde
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Cadde)
        </dd>
        <dt class = "col-sm-12">
            Sokak
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sokak)
        </dd>
        <dt class = "col-sm-12">
            adresTanımı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresTanımı)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.adresId">Düzenle</a> |
    <a asp-action="Index">Tüm Adresler</a>
</div>
