@model homeViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}
<section id="hero">

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
                <h1>Mezuniyet sizden, kep ve cübbe bizden!</h1>
                <h2>
                    Mezuniyet, özel gün çözümleriniz <span>
                        <img src="~/Logo/mezuniyetcim.png" width="150px" alt="Alternate Text" />
                    </span> farkıyla...
                </h2>
                <a href="#about" class="btn-get-started scrollto">Başlayalım</a>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="assets/img/PngItem_1910226.png" width="78%" height="100%" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">

            @*<div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="" data-aos="flip-right">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
                        </div>
                    </div>

                </div>*@

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="row  align-items-start">
                            @foreach (var vizyon in Model.vizyons)
                            {
                                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-images"></i>
                                    <h4><a href="#">@vizyon.vizyonTitle</a></h4>
                                    <p>@vizyon.vizyonDescription</p>
                                </div>
                            }
                        </div>
                        <div class="row">

                            @foreach (var misyon in Model.misyons)
                            {
                                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-shield"></i>
                                    <h4><a href="#">@misyon.misyonTitle</a></h4>
                                    <p>@misyon.misyonDescription</p>
                                </div>
                            }

                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    @*<section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">Services</h2>
                    <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/services-1.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Temporibus laudantium</a></h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/services-2.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Aperiores voluptates</a></h5>
                                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/services-3.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Veritatis natus nisi</a></h5>
                                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/services-4.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Aliquam veritatis</a></h5>
                                <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
                                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>*@
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-in">ÜRÜNLERİMİZ</h2>
                @*<p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*">Tüm Ürünler</li>

                        @foreach (var item in Model.productCategories)
                        {
                            <li data-filter=".@item.productCategoryId">@item.productCategoryName</li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">
                @foreach (var product in Model.products)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item @product.productCategory.productCategoryId">
                        <div class="portfolio-wrap">
                            <img src="/Images/@product.productImages.FirstOrDefault()?.fileName" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="/Images/@product.productImages.FirstOrDefault()?.fileName" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-plus-circle"></i></a>
                                <a asp-action="Details" asp-route-id="@product.ProductID" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>@product.ProductName</h4>
                                <p>@product.ProductPrice ₺</p>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </section>
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-in">Bize Ulaşın</h2>
            </div>

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box" data-aos="fade-up">
                                <i class="bx bx-map"></i>
                                @foreach (var item in Model.addresses)
                                {
                                    <p>
                                        @item.Mahalle @item.Cadde @item.Sokak @item.adresTanımı @item.İlce / @item.Sehir
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-envelope"></i>
                                @foreach (var item in Model.mails)
                                {
                                    <p>@item.mail</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-phone-call"></i>
                                @foreach (var item in Model.phones)
                                {
                                    <p>@item.phoneNumber</p>
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->