@model mezuniyetcim.com.Entities.tblProduct

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>Ürün Detayları</h1>
<div class="row mt-5">
    <div class="col-6">
        <h4>Ürün Bilgileri</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-12">
                Ürün Adı
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class="col-sm-12">
                Fiyat
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.ProductPrice) ₺
            </dd>
            <dt class="col-sm-12">
                Kategori
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.productCategory.productCategoryName)
            </dd>
            <dt class="col-sm-12">
                Ürün Hakkında Bilgi
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.ProductDescription)
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <h4>Resim</h4>
        <hr />
        <div class="row">
            @foreach (var item in Model.productImages)
            {
                <div class="col-6">
                    <img src="/Images/@item.fileName" class="img-thumbnail" alt="Alternate Text" />
                    <br />
                </div>
                <br />
            }
        </div>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Düzenle</a> |
    <a asp-action="Index">Tüm Ürünler</a>
</div>
