@model mezuniyetcim.com.Entities.tblProduct

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_panel.cshtml";
}

<h1>Ürün Detayları</h1>
<div class="row mt-5">
    <div class="col-8">
        <h4>Ürün Bilgileri</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Ürün Adı
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class="col-sm-2">
                Fiyat
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductPrice) ₺
            </dd>
            <dt class="col-sm-2">
                Kategori
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.productCategory.productCategoryName)
            </dd>
            <dt class="col-sm-2">
                Ürün Hakkında Bilgi
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductDescription)
            </dd>
        </dl>
    </div>
    <div class="col-4">
        <h4>Resim</h4>
        <hr />
        @foreach (var item in Model.productImages)
        {
            <img src="/Images/@item.fileName" style="max-height:100px;" class="img-thumbnail" alt="Alternate Text" />
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
